# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Models and Results
models/
results/

# Logs
*.log

# Python cache
.pytest_cache/

# OS files
.DS_Store
Thumbs.db